*{
    margin:0;
    padding: 0;
}

.container{
    background-color: salmon;
    border: 5px solid black;
    padding: 3rem;
}

.wrapper-instance{
    background-color: white;
    padding: 1rem 0.5rem;
    margin: 0.5rem 0;
}
.inner-box{
    display: flex;
    gap: 1rem;
}
